[Unit]
Description=My Jobs
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/py-demo
ExecStart=/root/.local/bin/poetry run python jobs.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target